* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: paleturquoise;

}

header {
    background-color: darkcyan;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    width: 90%;
    max-width: 1000px;
    margin: 30px auto;
}

section {
    background-color: cornsilk;
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 8px;

}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

input {
    padding: 10px;
    border: 1px;
    border-radius: 5px;
}

button {
    padding: 10 px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button {
    margin-top: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 12px;
    border-bottom: 1px solid gray;
    text-align: left;
}

th {
    background-color: aqua;
}

#mensaje {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 15px 20px;
    border-radius: 8px;
    font-weight: bold;
    background-color: blueviolet;
    color: aquamarine;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    z-index: 1000;
}


.mje-error {

    position: fixed;
    top: 20px;
    right: 20px;
    padding: 15px 20px;
    border-radius: 8px;
    background-color: coral;
    color: #991b1b;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.oculto {
    display: none;
}